body{
  background-image: url("https://images.unsplash.com/photo-1496181133206-80ce9b88a853?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60");
  background-color: white;
  height: 100%; 
  background-repeat: no-repeat;
  background-size: cover;

}
header{
    background-color:none;
}
header nav{
    max-width: 1200px;
    margin: 0 auto;
}
header nav ul{
    padding: 0;
    margin:0;
    overflow: auto;
}
header nav ul li{
    list-style: none;
    float:right;
}
header nav ul li a{
    color:black;
    padding: 20px;
    float:right;
    font-size: 26px;
    text-decoration: none;
}
header nav ul li a:hover{
    color:grey;
}