body{
  background-color: white;
  height: 100%; 
  background-repeat: no-repeat;
  background-size: cover;

}
header{
    background-color:grey;
}
header nav{
    max-width: 1200px;
    margin: 0 auto;
}
header nav ul{
    padding: 0;
    margin:0;
    overflow: auto;
}
header nav ul li{
    list-style: none;
    float:right;
}
header nav ul li a{
    color:black;
    padding: 20px;
    float:right;
    font-size: 26px;
    text-decoration: none;
}
header nav ul li a:hover{
    color:grey;
}
.top{
  background-image:url("https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQIPcIOgrtaer9TaSh_XX7hu28JqW8wWSxqkQ&usqp=CAU")
  /*background-repeat: no-repeat;
  background-size: cover;*/
    background: linear-gradient(rgba(121, 121, 121, 0.06));
    padding: 2px;
    text-align: center;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 30px;
    color:black;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
}
.dplip-path{
    height: 160px;
    margin-top: 2px;
}

.container{
    background-image:url("https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTTCLq6SIB4DVPAtIbfb85_OyQsk0z9uXAWtg&usqp=CAU");
   background-color: light-grey;
   background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
    position: relative;
    text-align: center;
    width: 100%;
    margin: auto;
    margin-top: 2px;
    padding: 2px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    color: Dark-grey ;

}
.title{
    font-family: Arial,Helvetica,sans-serif;
    font-size: 30px;
    color: black;
}

.progress{
    height: 20px;
    width: 70%;
    padding: 2px;
    border-radius: 15px;
    background:#fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);

}

.lang{
    text-align: left;
    font-size: 18px;
    margin-left: 1rem;
    margin-top: 1rem;
    font-weight: bold;

}

.fill{
    height: 16px;
    border-radius: 15px;
    background: blue;

}